.auth-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* LEFT */
.auth-left {
  flex: 1;
  background: url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f")
    center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  color: white;
}

.overlay h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #38bdf8;
}

/* RIGHT */
.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8fafc;
  padding: 20px;
}

/* MOBILE */
@media (max-width: 900px) {
  .auth-left {
    display: none;
  }

  .auth-right {
    flex: 1;
  }
}
